<div class="pdf">
	<div class="pdf_inner">
		<div class="content_pdf">
			<span class="top_no">GSTIN: AASDFGH8745212</span>
			<span class="top_name"><u>TAX INVOICE</u></span>
		</div>
		<div class="content_part">
			<div class="brand_name">
					<div class="right_contact">
						<span class="phone">9810308711</span>
						<span class="phone">9818619768</span>
						<span>E-mail : arshadmalikcool@gmail.com</span>
					</div>
				<h1 class="big_text">M/S. AVON PAPER</h1>
				<P class="normal_text">Deals In : Polyster Metalize, H.M.L.D, B.O.P.P., Holo Graphic Film</P>
			</div>
			<div class="address">
				<p>A2, Gali No. 4/5, Babu Nagar, Old Mustafabad, Main Brijpuri Road, Delhi-110094</p>
			</div>
			<div class="invoice_part">
				<div class="lft">
					<span><label>Invoice Serial No.</label> 12345</span>
					<span><label>Invoice Date </label> 20/20/2020</span>
				</div>
				<div class="rig">
					<span><label>Transportation Mode. </label> hjcgvhjbkjn</span>
					<span><label>Veh No. </label> 48512</span>
					<span><label>Date & Time of Supply. </label> 48512</span>
					<span><label>Place of Supply. </label> 48512</span>
				</div>
			</div>
				<div class="details">
					<div class="d-head">
						<p>Details of Receiver (Billod to)</p>
					</div>
					<div class="fill">
						<div class="fill_inner">
							<span>Name :  </span> <label> aqib khan</label>
						</div>
						<div class="fill_inner">
							<span>Address : </span> <label>sdfgh dfgh dfgyhu fgh fgy erty ertgy ertfg fgy rfgy ddfyg fgh vrdtfg esdrft erty ertfy rddftg </label>
						</div>
						<div class="fill_inner">
							<span>GSTIN : </span> <label> Delhi</label>
						</div>
					</div>
				</div>
				<div class="tbl">
					<table>
						<thead>
							<tr>
								<td>S. No.</td>
								<td>Description of Goods </td>
								<td class="custom_td">HSN/ACS <br> Code</td>
								<td style="width: 60px;">Qty</td>
								<td style="width: 70px;">Rate</td>
								<td>Taxable Value</td>
								<td>P.</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Description of Goodsdfgh ddfyguh ddfg </td>
								<td>7852456</td>
								<td>5</td>
								<td>100</td>
								<td>84515</td>
								<td>00</td>
							</tr>
							<tr>
								<td>1</td>
								<td>Description of Goodsdfgh ddfyguh ddfg </td>
								<td>8455115</td>
								<td>5</td>
								<td>100</td>
								<td>84515</td>
								<td>00</td>
							</tr>
							<tr>
								<td>1</td>
								<td>Description of Goodsdfgh ddfyguh ddfg </td>
								<td>5454854</td>
								<td>5</td>
								<td>100</td>
								<td>84515</td>
								<td>00</td>
							</tr>
							<tr style="border-top:2px solid;border-bottom: 2px solid; text-align: right;">
								<td colspan="2"></td>
								<td colspan="3"><b> Total </b> </td>
								<td>50000</td>
								<td>00</td>
							</tr>
							<tr style="border-bottom: 2px solid;">
								<td colspan="2"></td>
								<td colspan="3">
									<table>
										<tr style="border-bottom: 2px solid;">
											<td><b>CGST (in %)</b></td>
										</tr>
										<tr>
											<td><b>SGST (in %) </b></td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr style="border-bottom: 2px solid;">
											<td>sm</td>
										</tr>
										<tr>
											<td>sm</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr style="border-bottom: 2px solid;">
											<td>00</td>
										</tr>
										<tr>
											<td>00</td>
										</tr>
									</table>
								</td>
							</tr>

							<tr style="">
								<td colspan="2" style="border-top: 2px solid;font-weight: 700;">Amount of Tax Subject Reverse Charge</td>
								<td colspan="3">
									<table>
										<tr>
											<td><b>IGST (in%)</b></td>
										</tr>
										<tr style="border-top: 2px solid; font-weight: 700;">
											<td><b>Cartage</b></td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>sm</td>
										</tr>
										<tr style="border-top: 2px solid;">
											<td>sm</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>00</td>
										</tr>
										<tr style="border-top: 2px solid;">
											<td>00</td>
										</tr>
									</table>
								</td>
							</tr>

							<tr style="border-top: 2px solid; border-bottom: 2px solid;">
								<td colspan="2"> <b>if the particulars given above are true and correct</b></td>
								<td colspan="3"><b>Invoice Total</b></td>
								<td>dfghj</td>
								<td>dfghj</td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="footer">
					<h1>For M/S. AVON PAPER</h1>
					<div class="footer_text">
						<p><b>Terms & conditions of sale </b></p>
						<p>Goods Once Sold Will Not Be Taken Back</p>
						<p>Taxes Will Be Charged As Applicable</p>
						<p>Subject To Delhi Jurisdiction Only</p>
					</div>
					 <p class="sig">Auth. Sign</p>
				</div>
		</div>
	</div>
</div>