.main_wraper{
  .navbar{
    background: #fff;
    box-shadow: 0 2px 7px #00000026;
    .navbar-brand{
      font-weight: 600;
      color: #000;
    }

    .navbar-toggler{
      outline:none;
      padding: 0.20rem 0.60rem;
      border: 1px solid #000;
    }
    .navbar-collapse{
      flex-flow: row-reverse;
      @media screen and (max-width: 575px){
        flex-flow: none;
      }
    }
    .navbar-nav{
      
      li{
        a{
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
  .pd_0{
    padding: 0;
  }
  .left_side_bar{
    .items{
      height: 100vh;
      background: #898989;
      position: fixed;
      width: 16.7%;
      top: 0;
      .custom_ul{
        margin-top: 75px;
        margin-left: 0;
        list-style: none;
        padding: 0;
        li{
          padding: 9px 15px;
          &:hover{
              background:#423c3c3b;
            }
          a{
            text-decoration: none;
            color: #fff;
            display: block;
          }
        }
      }
    }
  }
  .main{
   position: relative;
   background: #efefef;
   height: 92.8vh;
   margin: 0;
   padding: 0;
   @media screen and (max-width:1024px){
    height: 100vh;
   }
  }
  .inner{
   position: absolute;
   left: 50%;
   top: 50%;
   transform:translate(-50% , -50%);
   padding: 20px 15px;
   width: 350px;
   background: #ffffff00;
    box-shadow:0 8px 15px #1a191936;
   border-radius: 5px;

  }
  .inner h1{
   text-align: center;
   font-size: 30px;
   color:#6d6d6d;
  }
  .inner h2{
   text-align: center;
   font-size: 24px;
   color:#6d6d6d;
  }
  .full{
   display: block;
   margin-bottom:15px;
   width: 100%;
   outline: none;
   min-height: 36px;
   padding: 8px 12px;
   border-radius: 5px;
   border: none;
   margin-top: 21px;
  }
  .full:focus{
   box-shadow: 0 2px 4px #1c172273;
  }
  .half{
   display: block;
   margin-bottom:15px;
   width: 100%;
   outline: none;
   min-height: 36px;
   padding: 8px 12px;
   border-radius: 5px;
   border: none;
   margin-top: -10px;
  }
   .half:focus{
   box-shadow: 0 2px 4px #1c172273;
  }

  .check{
   //margin-bottom: 15px;
  }
  .label{
    margin: 0;
    color: #656565;
    font-size: 16px;
  }

  .log_in_submit{
    a{

    }
    input[type="submit"]{
     border: none;
     padding: 6px 26px;
     display: block;
     margin: 0 auto;
     margin-top: 10px;
     background: #00CCEB;
     border-radius: 25px;
     color: #fff;
     font-weight: bold;
     outline: none;
    }
    input[type="submit"]:hover{
     box-shadow: 0 5px 10px #237061b3;
    }
  }
  .send_me{
    input{
      border: none;
      outline: none;
      padding: 7px;
      background: #5ecceb;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      margin: 0 auto;
      display: block;
      width: 100%;
    }
  }
  .password_go_submit{
    margin-top: 20px;
    text-align: center;
    a{
      padding: 6px 26px;
      margin: 0 auto;
      margin-top: 10px;
      background: #00CCEB;
      border-radius: 25px;
      color: #fff;
      font-weight: bold;
      text-decoration: none;  
    }
  }
  .lable{
   font-size: 16px;
   display: inline-block;
   position: relative;
   top: -3px;
   left: 5px;
  }
  .forget{
    margin-top: 10px;
    a{
      font-size: 14px;
      color: #656565;
      text-decoration: none;
    }
  }
}

.wraper_form{
  width: 100%;
  .form_inner{
    padding: 25px;
    max-width: 680px;
    margin: 35px auto;
    box-shadow: 0 0 4px #0000002e;
    .heding_1{
      font-size: 28px;
      margin-bottom: 20px;
      text-align: center;
    }
    form , .nested-fields{
      input, select{
        width: 100%;
        display: block;
        outline: none;
        border: 1px solid #d5d5d5;
        margin-bottom: 20px;
        padding: 5px 10px;
        transition: .4s;
        height: 36px;
        background: transparent;
        &:focus{
          //width: 100%;
          border-color: #5f5f5f;
          box-shadow: 0 0 2px #00000070;
        }
      }
      label{
        display: block;
        margin-bottom: 3px;
        font-size: 14px;
        font-weight: 600;
        color: #3d3d3d;
      }
      .textarea{
        width: 100%;
        display: block;
        outline: none;
        border: 1px solid #d5d5d5;
        margin-bottom: 20px;
        padding: 5px 10px;
        transition: .4s;
        &:focus{
          width: 100%;
          border-color: #5f5f5f;
          box-shadow: 0 0 2px #00000070;
        }
      }
      .submit{
        input[type="submit"]{
          display: block;
          outline: none;
          border: 1px solid #28a1db;
          margin-bottom: 20px;
          padding: 7px;
          transition: .2s;
          width: 150px;
          margin: 0 auto;
          background: #28a1db;
          color: #fff;
          font-weight: bold;
          margin-top: 10px;
          &:hover{
            box-shadow: 0 4px 8px #0101017a;
          }
        }
      }
      .links{
            padding: 18px 0;
            margin-top: -75px;
            padding-top: 18px;
        .add_fields{
          padding: 6px 15px;
          background: #ff8484;
          color: #fff;
          text-decoration: none;
          font-size: 15px;
        }
      }
      .custom_remove{
        text-align: right;
        padding-bottom: 32px;
        margin-bottom: -50px;
        padding-top: 18px;
        a.remove_fields.dynamic{
          padding: 6px 15px;
          background: #ff8484;
          color: #fff;
          text-decoration: none;
          font-size: 15px;
        }
      }
    }
    .custom_border{
      border: 1px solid #dadada;
      padding: 10px 8px;
      padding-top: 0;
      margin-bottom: 10px;
      span{
        display: block;
        padding: 10px;
        padding-left: 8px;
        background: #e8e8e8;
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 600;
        color: #484848;
      }
    }
  }
}
.alert-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert{
  position: relative;
  padding: 0.75rem 32.25rem;
  margin-bottom: -3.5rem;
  margin-top: 3.6rem;
  border-radius: 0.25rem;
}

.custom_main{
    width: 100%;
    .inner_page{
      max-width: 1100px;
      padding: 50px 15px;
      margin: 0 auto;
      h3{
        margin-bottom: 15px;
      }
    }
    .customize_table{
      table{
        margin-bottom: 0;
        td{
          a{
            text-decoration: none;
            color: #000;
          }
          .view{

          }
          .edit{
            float: right;
          }
        }
      }
    }
    .pagination{
      padding: 15px 0;
      float: right;
      .previous_page{
        border: 1px solid #dee2e6;
        margin-right: 5px;
        padding: 0 5px;
      }
      em {
        padding: 0 5px;
      }
      .current{
        font-weight: 600;
      }
      .next_page{
        border: 1px solid #dee2e6;
        margin-left: 5px;
        padding: 0 5px;
      }
    }
}

